.article {
    height: 600%;
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    display: grid;
    place-items: right;
}

.header {
    font-size: 30px;
    color: white;
    text-align: left;
}

.register {
    align-content: right;
}